

$white: #fff;
$black: #000;
$charade: #23252F;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #CDD5DF !default;
$gray-400: #ced4da !default;
$gray-500: #9AA4B2 !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #364152 !default;
$gray-900: #212529 !default;
$gray-disable: #697586 !default;
$black   : #000 !default;

$blue  : #5e72e4;
$indigo: #444CE7 !default;
$purple: #6f42c1 !default;
$pink  : #F63D68 !default;
$red: #D92D20;
$orange: #EF6820 !default;
$yellow: #FFFA6F;
$green : #297F00;
$lime : #7CC43F;
$teal  : #20c997 !default;
$cyan  : #3065D0;

$primary: #121926 !default;
$secondary: #202939 !default;
$success  : #00FFD3 !default;
$positive  : #099250 !default;
$info     : #6172F3 !default;
$normal   : #364152 !default;
$warning  : #f0a901 !default;
$danger   : #D92D20 !default;
$light    : #c8c8c8 !default;
$dark     : #6e6e6e;

$d-border: #202939;
$d-bg: #121926;
$border: #364152;
$body-bg: #C7EBFC;
$border-color: $gray-600;
